body {
    text-align: center;
    background: rgba(255, 0, 0, 0.21);
}

#root {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #cf5503;
    background: rgb(255, 116, 8);
    color: #fff;
    text-shadow: #363636 1px 1px 0;
    font-weight: 900;
    font-size: 24px;
    font-family: "Arial Rounded MT Bold";
}