body {
    text-align: center;
    background: #fff9c0;
}

#root {
    display: inline-block;
    padding: 10px 20px;
    border: 5px solid #2d7fff;
    background: rgba(45, 127, 255, 0.51);
    color: #fff;
    text-shadow: #363636 1px 1px 0;
    font-weight: 900;
    font-size: 24px;
    font-family: "Arial Rounded MT Bold";
}